.setup {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    color: #E892AF;
    border: 1px solid #E68FAD;
    border-radius: 7px;
    font-family: American Typewriter, serif;
    font-weight: 600;
}